<%= bootstrap_form_with(model: invoice, local: true) do |form| %>

  <div class="field">
    <%= form.collection_select(:customer_id, Customer.all, :id, :full_name, prompt:true) %>
  </div>

  <div class="field">
    <%= form.text_field :num %>
  </div>

  <div class="field">
    <%= form.date_select :date_invoice, prompt:true %>
  </div>

  <div class="field">
    <%= form.text_field :sum %>
  </div>

  <div class="field">
    <%= form.text_field :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
