<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @invoice.customer&.full_name %>
</p>

<p>
  <strong>Num:</strong>
  <%= @invoice.num %>
</p>

<p>
  <strong>Date:</strong>
  <%= @invoice.date_invoice %>
</p>

<p>
  <strong>Sum:</strong>
  <%= @invoice.sum %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @invoice.comment %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Add Payment', new_invoice_payment_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
<br /><br />
<div class="card">
    <div class="card-header">
    Invoice <%= @invoice.invoice_data %> payments
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
            <tr>
              <th scope="col">Num</th>
              <th scope="col">Date</th>
              <th scope="col">Sum</th>
              <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="channelTableItems">
          <%= render partial: 'payments/table_item', collection: @payments  %>
        </tbody>
      </table>
    </div>
</div>
