<%= bootstrap_form_with(model: [@customer, customer_address]) do |form| %>

  <%= form.hidden_field :customer_id %>

  <div class="field">
    <%= form.collection_select(:address_id, Address.all, :id, :name, prompt:true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
