<%= bootstrap_form_with(model: user, local: true) do |form| %>

  <%= form.text_field :name, class: "form-control", label_class: "bmd-label-floating" %>

  <%= form.email_field :email, class: "form-control", label_class: "bmd-label-floating"%>

  <%= form.file_field :avatar, class: "form-control", label_class: "bmd-label-floating"%>

  <%= form.password_field :password, class: "form-control", label_class: "bmd-label-floating"%>
  
  <%= form.password_field :password_confirmation, class: "form-control", label_class: "bmd-label-floating"%>

  <div class="text-left">
    <%= form.submit  class: "btn btn-raised btn-primary" %>
    <%= link_to t("Back"), root_path, class: "btn btn-raised btn-info" %>
  </div>
<% end %>
