<div class="card">
    <div class="card-header">
        <h4 class="card-title">
          <%= t("Edit") %>
        </h4>
    </div>
    <div class="card-body">
        <%= render 'form', user: @user %>
    </div>
</div>
