<div class="col-md-12">
  <div class="card">
    <h5 class="card-header info-color white-text text-center py-4">
      <strong><%= t("Create user") %></strong>
    </h5>
    <div class="card-body px-lg-5">
      <%= render 'form', user: @user%>
    </div>
  </div>
</div>
