<p id="notice"><%= notice %></p>

<p>
  <strong>Surname:</strong>
  <%= @customer.surname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @customer.comment %>
</p>
<strong>Addresses:</strong> 
<p id="addresses">
  <% @customer.addresses.each do |e| %>
    <%= e.name %> <br />
  <% end %>  
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
<%= link_to 'Add address', new_customer_customer_address_path(@customer), remote: true, class: 'btn btn-success' %>


<!-- Modal -->
<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add address</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="addressForm">
        <%#= render 'customer_addresses/form', customer_address: @customer_address %>
      </div>
    </div>
  </div>
</div>
