<%= bootstrap_form_with(model: [@invoice, payment], local: true) do |form| %>

  <%= form.hidden_field :invoice_id, value: @invoice.id %>

  <div class="field">
    <%= @invoice.invoice_data  %>
  </div>

  <div class="field">
    <%= form.text_field :num %>
  </div>

  <div class="field">
    <%= form.date_select :date_pay, prompt:true %>
  </div>

  <div class="field">
    <%= form.text_field :sum %>
  </div>

  <div class="field">
    <%= form.text_field :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
