<tr class="payment_item_<%= table_item.id %>">
  <%= content_tag :td, table_item.num %>
  <%= content_tag :td, table_item.date_pay %>
  <%= content_tag :td, table_item.sum %>
  <td>
    <%= link_to 'edit', edit_invoice_payment_path(@invoice, table_item), class: 'btn btn-default' %><br />
    <%= link_to 'delete', invoice_payment_path(@invoice, table_item), method: 'delete', data: {confirm: "Are you sure?"}, class: 'btn btn-default' %>
  </td>
</tr>
