<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @payment.references %>
</p>

<p>
  <strong>Num:</strong>
  <%= @payment.num %>
</p>

<p>
  <strong>Date pay:</strong>
  <%= @payment.date_pay %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @payment.comment %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
